## Import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Read the data

In [2]:
df = pd.read_csv("ratings_small.csv", header=0)

## Little EDA

In [3]:
df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [4]:
df.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [5]:
df.shape

(100004, 4)

In [6]:
df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [7]:
df.isnull().sum(axis = 0)

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

## Movies with Highest Average Ratings

This recommender gives the a movieId list to watch, with the highest ratings and a minimum number of ratings for a given user.

In [8]:
movie_ids_with_avg_df = df.groupby("movieId")["rating"].agg(["count", "mean"]).reset_index()

In [9]:
movie_ids_with_avg_df

      movieId  count      mean
0           1    247  3.872470
1           2    107  3.401869
2           3     59  3.161017
3           4     13  2.384615
4           5     56  3.267857
...       ...    ...       ...
9061   161944      1  5.000000
9062   162376      1  4.500000
9063   162542      1  5.000000
9064   162672      1  3.000000
9065   163949      1  5.000000

[9066 rows x 3 columns]

In [10]:
def recommender_basic(user, min_nb_rating, nb_recommendations):
    movies_already_seen = df[df["userId"]==user]['movieId'].to_list()
    return movie_ids_with_avg_df[(movie_ids_with_avg_df['count']>min_nb_rating) & (-movie_ids_with_avg_df['movieId'].isin(movies_already_seen))].nlargest(nb_recommendations, 'mean')["movieId"].to_list()

In [11]:
user = 1
min_nb_rating = 100
nb_recommendations = 1

In [12]:
movie_to_watch = recommender_basic(user, min_nb_rating, nb_recommendations)

In [13]:
movie_to_watch

[858]